<launch>
  <!-- Start ground station-->
  <include file="$(find small_robot_2dnav_remote)/launch/ground_station.launch" />
  
  <!-- Run gmapping if map server is not used-->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" />  

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="5.0"/>
    <rosparam file="$(find small_robot_2dnav_remote)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find small_robot_2dnav_remote)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find small_robot_2dnav_remote)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find small_robot_2dnav_remote)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find small_robot_2dnav_remote)/config/base_local_planner_params.yaml" command="load" />
 </node>

</launch> 